extends layout

block body-page 
    main 
        .row.g-5
            h4.mb-3 REGISTRATE
            form.needs-validation.was-validated(novalidate)
                .row.g-3
                    .col-12 
                        label.form-label(for='email') Correo
                        .input-group.has-validation
                            span.input-group-text @
                            input#email.form-control(type='email' placeholder='Correo' required autofocus)
                            .invalid-feedback El correo es requerido
                    .col-12 
                        label.form-label(for='password') Contrase&ntilde;a
                        input#password.form-control(type='password' placeholder='Contraseña' required)
                        .invalid-feedback La contraseña es requerida
                    hr.my-4
                    button.w-100.btn.btn-primary.btn-lg(type='submit') Registrar